{
    "arrowParens": "always",
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["package.json"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
